body{
    background-color: rgb(36, 7, 7);
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.country-button {
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #333;
    background-color: rgb(80, 21, 85);
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  .country-button:hover {
    background-color: rgb(87, 32, 32);
  }
  
  .country-button.active {
    background-color: red;
    color: white;
    border-color: darkred;
  }
  
  /* Meal Display Styling */
  .meal-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }
  
  .meal-item {
    text-align: center;
    color: aqua;
  }
  
  .meal-image {
    border: 2px solid blue;
    border-radius: 8px;
    width: 250px;
  }
  .search-bar{
    text-align: center;
    margin: 10px;
  }
  .search-bar input {
    /* border: 2px solid blueviolet; */
    border-radius: 5px;
    height: 30px;
    font-size: 25px;
    color: brown;
    background-color: #3a1652;
  }
  input:focus{
    outline: none;
  }